# Ignore API credentials
client_secret.json
token.json
service_account_key.json

# Ignore virtual environment
venv/
__pycache__/

# Ignore system files
.DS_Store

# Ignore Visual Study metadata
.vs/
.idea/t o k e n . p i c k l e 
 
 t o k e n . p i c k l e 
 
.env