# Ignore API credentials
client_secret.json
token.json
service_account_key.json
token.pickle
*.pickle

# Ignore virtual environment
.venv/
venv/
__pycache__/

# Ignore system files
.DS_Store

# Ignore Visual Studio metadata
.vs/
.idea/

# Ignore environment variables
.env